.blog {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 7vw;
  padding-right: 35vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.blog--tittle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.blog--tittle-name {
  font-family: inherit;
  font-weight: 500;
  font-size: 65px;
}

.blog--tittle-date {
  font-family: inherit;
  font-weight: 500;
  font-style: italic;
  font-size: 18px;
  color: rgb(95, 91, 91);
  margin-top: 10px;
}

.blog--heading {
  font-weight: 500;
  font-size: 40px;
  margin-top: 40px;
}

.blog--para {
  font-family: Poppins;
  font-weight: 300;
  font-size: 16px;
  margin-top: 20px;
}

.blog--picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.blog--picture-item {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog--picture-item > h1 {
  font-size: 15px;
  font-weight: 400;
  color: rgb(77, 76, 76);
}

.heading1 {
  font-size: 17px;
  font-family: Poppins;
  font-weight: 500;
  margin-top: 35px;
}

.underline {
  text-decoration: underline 1px;
  text-underline-offset: 3px;
}

.link {
  background-color: rgb(45, 43, 43);
  padding: 10px;
  color: rgb(232, 225, 225);
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid black;
  width: fit-content;
  margin-top: 10px;
}

.link:hover {
  color: black;
  cursor: pointer;
  background-color: #fff;
}
